@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$Font;
    font-size: 1.3rem;
    background: linear-gradient(v.$SoftViolet, v.$SoftBlue);
}

hr {
    color: v.$Divider;
    opacity: .5;
    margin-bottom: 1.6rem;
}

/* ATTRIBUTION */
footer {
    height: 3vh;
    width: inherit;
    text-align: center;
    font-size: 1rem;
    color: v.$Divider;
  }
  
footer a {
    text-decoration: none;
    color: v.$SoftRed;
    font-weight: bold;
  }