@use '../base/variables' as v;

.container {
    max-width: 102rem;
    margin: 0 auto;
}

.flex {
    height: 100%;
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    margin: 0 5rem;
    border-radius: 2.4rem;
    height: 52rem;
    box-shadow: 0px 40px 62px -19px rgba(53,31,143,0.75);
}

@media (max-width: 1000px) {

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        min-width: 32.5rem;
        margin: 10rem 2.5rem;
        margin-top: 20rem;
        height: 53rem;
    }
}